[submodule "literouter"]
	path = literouter
	url = git@github.com:journeyOS/LiteRouter.git
[submodule "literouter-compiler"]
	path = literouter-compiler
	url = git@github.com:journeyOS/LiteRouter-compiler.git
[submodule "literouter-annotation"]
	path = literouter-annotation
	url = git@github.com:journeyOS/LiteRouter-annotation.git
